<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>Label</key>
		<string>com.loanernotify.daemon</string>

		<key>RunAtLoad</key>
		<true/>

		<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>8</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>8</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>8</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>8</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>8</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>15</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>15</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>15</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>15</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>15</integer>
				<key>Minute</key>
				<integer>0</integer>
				<key>Weekday</key>
				<integer>5</integer>
			</dict>
		</array>

		<key>StandardErrorPath</key>
		<string>/Users/atrac/Scripts/loaner_notify/logs/stderr.log</string>

		<key>StandardOutPath</key>
		<string>/Users/atrac/Scripts/loaner_notify/logs/stdout.log</string>

		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin]]></string>
		</dict>

		<key>WorkingDirectory</key>
		<string>/Users/atrac/Scripts/loaner_notify/</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/atrac/Scripts/loaner_notify/.venv/bin/python3</string>
			<string>/Users/atrac/Scripts/loaner_notify/run.py</string>
		</array>

	</dict>
</plist>
